body {
	font-family: sans-serif;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

main {
	display: block;
	background-color: #eeeeee;
}

.container, .f-flexbox, .jogos, .js-table  {
	width: 100%;
	max-width: 760px;
	margin: 0 auto;
	padding: 0% 20px;
}

section.module p {
	margin-bottom: 40px;
}

section.module:last-child {
	margin-bottom: 0;
}

section.module content {
	background: #fff;
	font-size: large;
	color: rgb(4, 102, 119);
	padding: 30px 0;
	margin: 10px 0;
}

section.module.parallax {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 50vh !important;

}

section.module.parallax-1 {

	background-image: url("../img/banner.jpg");
}

h1 {
	font-size: 50px;
	font-weight: 900;
	padding: 50px 0;
	margin: 20px 0; 
	color: rgb(3, 66, 77);
}

h2, h3 {
	font-size: 20px;
	font-weight: 900;
	margin: 20px 0; 
	color: rgb(3, 66, 77);
}

h2 {
	padding-top: 30px;
	padding-bottom: 10px;
}


p {
	text-align: left;
	padding: 10px;
}

em strong {
	color: #FF0000;
}


nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #90e0ef;
	text-decoration: underline;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding-left: 20px;
	margin-right: 10%;
}

.cursos, .jogos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.cursos li {
	display: inline-block;
	text-align: center;
	width: 25%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #03254c;
	border-radius: 10px;
}

.cursos li:hover {
	border-color: #9bcaf0;
}

.cursos li:active {
	border-color: #f00a0a;	
}

.cursos li:hover h3 {
	font-size: 24px;
}

.container-logo {
	display: flex;
	padding-bottom: 40px;
	justify-content: center;
	align-items: center;
	size: 50%;
}

.m-flexbox {
	background-color: goldenrod;
}

.f-flexbox, .jogos {
	display: flex;
	flex-direction: row;

}

.e-flexbox, .d-flexbox, .froggy, .defense {
	flex-direction: column;
	padding: 30px 10px;
}

.d-flexbox {
	justify-content: end;
}

.t-flexbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40%;
}

#flexlogo {
	width: 70%;
}

#img-froggy, #img-defense {
	width: 100%;
}

.m-javascript {
	background-image: url("../img/fundo.jpg");
	background-repeat: no-repeat;
	height: 50%;
	width: auto;
	padding: 30px 10px;
	color: #9bcaf0;
}

#p-javascript, #h2-js, #h3-js {
	color: #9bcaf0;
	padding: 30px 0;
}

.js-table {
	padding: 60px 0;
}

#imc {
	color: rgb(3, 66, 77);
	background-color: #eeeeee;
	width: 100%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #03254c;
	border-radius: 10px;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}


footer {
	text-align: center;
	align-items : center;
	background: #aaaaaa;
	padding: 15px;
}
